{:letterer {:title "Letterer"
            :script "../script/letterer.js"
            :on-load "startup()"}
 :tilebuilder {:title "Tile Builder"
               :script "../script/tileBuilder.js"
               :on-load "startup()"}
 }