[html
 [head
  [title "Pixel Art"]
  [script {src "../script/docbuilder.js"} ""]
  [script {src "../script/pixel.js"} ""]
  [script {type "text/javascript"}
   (str
     "(function() {\n"
     "  var myData = " :data ";\n"
     "  window.ctrl = new Controller(myData,'ctrl','palette','widthField','heightField','canvas',['savedata','pngdata']);\n"
     "})()")]
  [script {type "text/javascript"} ""]
  ]
 [body {onLoad "ctrl.init()"}
  [button {onClick "location.replace('/draw/pixel')"} "New"]
  [form {action "./pixel" method "post" enctype "multipart/form-data"}
   [input {type "submit" value "Load"}]
   [input {type "file" name "file"}]]
  [form {id "saveform" action (str "./pixel/" :filename) method "post" target "_blank"}
   [input {type "hidden" id "savedata" name "savedata" value ""}]
   [input {type "submit" value "Save"}]]
  [form {id "pngform" action (str "./pixel/png/art.png") method "post" target "_blank"}
   [input {type "hidden" id "pngdata" name "pngdata" value ""}]
   [label {for "pixelsize"} " Pixel Size: "]
   [input {type "number" name "pixelsize" value "1" min "1"}]
   [input {type "submit" value "Publish PNG"}]]
  hr
  [div {id "ctrls"}
   [button {onClick "ctrl.addColor()"} "Add Color"]
   br
   [input {type "radio" name "colors" id "colorSelect0" value "0" checked true}]
   [label {for "backgroundColor"} " Background Color: "]
   [input {type "color" id "color0" value "white" onChange "ctrl.updateColor(0)"}]
   br
   [ol {id "palette"} ""]
   br
   [label {for "width"} " Width: "]
   [input {type "number" id "widthField" name "width" value "0" onChange "ctrl.resize()"}]
   [label {for "height"} " Height: "]
   [input {type "number" id "heightField" name "height" value "0" onChange "ctrl.resize()"}]
   br
   [button {onClick "ctrl.transform('horiz')"} "Flip Horizontal"]
   [button {onClick "ctrl.transform('vert')"} "Flip Vertical"]
   [button {onClick "ctrl.transform('right')"} "Rotate Right"]
   [button {onClick "ctrl.transform('left')"} "Rotate Left"]
   ]
  br
  [div {id "canvas"}]
  ]]
