[{:IT1 " "
  :IT2 " "
  :IT3 " "
  :IT4 " "
  :DMAX 40
  :xMax 10
  :xMin -10
  :yMax 10
  :yMin -12
  :L 1}
 (AxesOff)
 (ClDrw)
 (RcPic "TITLE")
 (Pause)
 (Menu 1 "New" CAS1 3 "Load" LG1 5 "Quit" END5)
 (Lbl LG1)
 (ClLCD)
 (If (And (= " " :SV1) (= " " :SV2) (= " " :SV3))
   [(Disp "No games to load.")
    (Pause)
    (Goto CAS1)])
 (Outpt 1 7 "LOADGAME")
 (Outpt 4 1 :SV1)
 (Outpt 5 1 :SV2)
 (Outpt 6 1 :SV3)
 (Menu 1 :SV1 G1 2 :SV2 G2 3 :SV3 G3)
 (Lbl G1)
 {:KN1 :SK1
  :D :SD1
  :L :SL1
  :HP :SH1
  :MAGIK :SM1
  :SPEED :SS1
  :AP :SA1}
 (Goto CAS2)
 (Lbl G2)
 {:KN1 :SK2
  :D :SD2
  :L :SL2
  :HP :SH2
  :MAGIK :SM2
  :SPEED :SS2
  :AP :SA2}
 (Goto CAS2)
 (Lbl G3)
 {:KN1 :SK3
  :D :SD3
  :L :SL3
  :HP :SH3
  :MAGIK :SM3
  :SPEED :SS3
  :AP :SA3}
 (Goto CAS2)
 (Lbl CAS1)
 (ClDrw)
 {:D 1
  :RM 29}
 (ClDrw)
 (RcPic "KNIGHT1")
 (Menu 1 "Arthur" CA 2 "Merlin" CM 3 "Gawain" CG 4 "Lancelot" CL)
 (Lbl CA)
 {:KN1 "King Arthur"
  :MAGIK 40
  :HP 145
  :SPEED 20
  :AP 14}
 (Goto CAS2)
 (Lbl CM)
 {:KN1 "Merlin"
  :MAGIK 250
  :HP 140
  :SPEED 20
  :AP 8}
 (Goto CAS2)
 (Lbl CG)
 {:KN1 "Gawain"
  :MAGIK 10
  :HP 180
  :SPEED 15
  :AP 10}
 (Goto CAS2)
 (Lbl CL)
 {:KN1 "Lancelot"
  :MAGIK 10
  :HP 150
  :SPEED 15
  :AP 12}
 (Goto CAS2)
 (Lbl CAS2)
 (ClLCD)
 (ClDrw)
 (Line -10 10 10 10)
 (Line 10 10 10 -10)
 (Line 10 -10 -10 -10)
 (Line -10 -10 -10 10)
 (Line -10 10 -6 6)
 (Line -6 6 6 6)
 (Line 10 10 6 6)
 (Line 6 6 6 -6)
 (Line 10 -10 6 -6)
 (Line 6 -6 -6 -6)
 (Line -10 -10 -6 -6)
 (Line -6 -6 -6 6)
 (Line -6 6 -3 3)
 (Line -6 3 6 3)
 (Line 6 6 3 3)
 (Line 3 3 3 -3)
 (Line 6 -6 3 -3)
 (Line 6 -3 -6 -3)
 (Line -3 -3 -3 3)
 (Line -3 3 -1 1)
 (Line -1 1 1 1)
 (Line 3 3 1 1)
 (Line 1 1 1 -1)
 (Line 3 -3 1 -1)
 (Line 1 -1 -1 -1)
 (Line -3 -3 -1 -1)
 (Line -1 -1 -1 1)
 (Line -1 -1 1 1)
 (Line -1 1 1 -1)
 (Line 1 0 -1 0)
 (If (< :D (int (+ 1 (/ (* :DMAX (- 4 :L)) 4))))
   {:RM 29})
 (If (>= :D (int (+ 1 (/ (* :DMAX (- 4 :L)) 4))))
   {:RM 39})
 (If (>= :D :DMAX)
   {:RM 49})
 {:M 1
  :I 1}
 (Menu 1 "Go" PRO1 2 "Stat" STATS 3 "Spells" SPELL 4 "Inventory" INVENT 5 "Quit" END2)
 (Lbl PRO1)
 {:ML 0
  :D1 "<"
  :D2 "^"
  :D3 ">"
  :D4 (int (+ 1 (* 4 (rand 1))))}
 (If (= :D4 1) {:D1 " "})
 (If (= :D4 2) {:D2 " "})
 (If (= :D4 3) {:D3 " "})
 (Menu 2 :D1 MON1 3 :D2 MON2 4 :D3 MON3)
 (Lbl MON1)
 {:RDM (+ 2 (* 3 (int (/ (int (rand RM)) 3))))}
 (Goto MON4)
 (Lbl MON2)
 {:RDM (+ 1 (* 3 (int (/ (int (rand RM)) 3))))}
 (Goto MON4)
 (Lbl MON3)
 {:RDM (+ 3 (* 3 (int (/ (int (rand RM)) 3))))}
 (Goto MON4)
 (Lbl MON4)
 (If (<= :RDM 3)
   (Goto MON6)
   (If (<= :RDM 10)
     (Goto MONI)
     (Goto MONM)))
 (Lbl MONI)
 (If (and (>= :RDM 3) (<= :RDM 5))
   {:TXT1 "Healing herb"})
 (If (or (= :RDM 6) (= :RDM 7))
   {:TXT1 "Magic Vial"})
 (If (or (= :RDM 8) (= :RDM 9))
   {:TXT1 "Healing potion"})
 (If (= :RDM 10)
   {:TXT1 "Magic potion"})
 (If (<= :RDM 7)
   {:TXT2 ($ "You've found a " :TXT1 ".")}
   {:TXT2 ($ "You've found " :TXT1 ".")})
 (Lbl INVENT4)
 (ClLCD)
 (Outpt 1 1 :TXT2)
 (Menu 1 "Take" TAK 2 "Inventory" INVENT 5 "Go" MON6)
 (Lbl TAK)
 (If (= :IT1 " ")
   {:IT1 :TXT1}
   (If (= :IT2 " ")
     {:IT2 :TXT1}
     (If (= :IT3 " ")
       {:IT3 :TXT1}
       (If (= :IT4 " ")
         {:IT4 :TXT1}
         [(ClLCD)
          (Outpt 1 1 "You have no room.")]))))
 (Goto MON6)
 (Lbl MONM)
 {:M 2}
 (ClLCD)
 (ClDrw)
 (If (and (>= :RDM 11) (<= :RDM 17))
   [(RcPic "BLOB")
    {:MONSTER "Blob"
     :MHP 5
     :MMP 0
     :MSP 2
     :MAP 3}])
 (If (and (>= :RDM 18) (<= :RDM 23))
   [(RcPic "GHOST")
    {:MONSTER "Ghost"
     :MHP 20
     :MMP 10
     :MSP 10
     :MAP 15}])
 (If (and (>= :RDM 24) (<= :RDM 29))
   [(RcPic "GOBLIN")
    {:MONSTER "Goblin"
     :MHP 15
     :MMP 0
     :MSP 15
     :MAP 10}])
 (If (and (>= :RDM 30) (<= :RDM 34))
   [(RcPic "ORC")
    {:MONSTER "Orc"
     :MHP 30
     :MMP 20
     :MSP 5
     :MAP 10}])
 (If (and (>= :RDM 35) (<= :RDM 39))
   [(RcPic "SHA")
    {:MONSTER "Black Knight"
     :MHP 45
     :MMP 20
     :MSP 10
     :MAP 30}])
 (If (>= :RDM 40)
   [{:ML 1}
    (If (= :L 1)
      [(RcPic "SKU")
       {:MONSTER "Demon's head"
        :MHP 80
        :MMP 25
        :MSP 30
        :MAP 50}])
    (If (= :L 3)
      [(RcPic "SOR")
       {:MONSTER "Sorcerer"
        :MHP 100
        :MMP 200
        :MSP 25
        :MAP 35}])
    (If (= :L 2)
      [(RcPic "DRAG")
       {:MONSTER "Dragon"
        :MHP 90
        :MMP 100
        :MSP 35
        :MAP 30}])])
 {:TXT1 ($ "You encounter a      " :MONSTER ".")
  :ODD3 (+ 1 (int (* 100 (rand))))}
 (Outpt 2 2 :TXT1)
 {:MM (+ 1 (int (* 15 (rand))))}
 (If (<= :MM 10)
   [(Pause)
    (Goto MONB)]
   [(ClLCD)
    (Outpt 1 1 ($ :MONSTER " catches you off guard"))
    (Pause)
    (Goto MONMB)])
 (Lbl MONB)
 (DispG)
 (Menu 1 "Attack" MONA 2 "Run" MONR 3 "Inventory" INVENT 4 "Spells" SPELL 5 "Stat" STATS)
 (Lbl MONA)
 (ClLCD)
 (Disp "You attack.")
 {:ODD1 (+ 1 (/ :SPEED (int (/ :SPEED 10))))}
 (Goto MONMA)
 (Lbl MONR)
 (ClLCD)
 (Disp "Run away, coward!")
 (Pause)
 (Goto MON6)
 (Lbl MONMA)
 {:ODD2 (/ :MSP (+ 1 (int (/ :MSP 10))))}
 (If (> :ODD3 65)
   (If (>= :ODD1 :ODD2)
     [(Disp "Excellent shot!")
      {:MHP (- :MHP (* :AP 2))
       :AP2 (* 2 :AP)
       :Y 3
       }]
     [(Disp ($ :MONSTER " dodges."))
      (Pause)
      (Goto MONMB)])
   {:MHP (- :MHP :AP)
    :AP2 :AP
    :Y 2})
 (Outpt :Y 1 ($ :MONSTER "'s HP down by " :AP2))
 (Pause)
 (Goto MONMB)
 (Lbl MONMAS)
 (ClLCD)
 (Disp ($ "You cast " :SPL "."))
 (If (= :SLP 2)
   (Outpt 2 1 ($ :MONSTER "'s HP down by " :AP2)))
 (Pause)
 (Lbl MONMB)
 (If (<= :MHP 0) (Goto MON5))
 (If (<= :MMP 5)
   {:MRA (+ 1 (int (* 15 (rand))))}
   {:MRA (+ 1 (int (* 20 (rand))))})
 (If (<= :MRA 15)
   (Goto MONMBA)
   (Goto MONMBS))
 (Lbl MONMBA)
 (ClLCD)
 (Disp (S :MONSTER " attacks!"))
 (If (< :ODD3 25)
   (If (> :ODD2 (* 2/3 :ODD1))
     [(Disp "You're in trouble.")
      {:HP (- :HP (* 2 :MAP))
       :MAP2 (* :MAP 2)
       :Y 3}]
     [(Disp "You dodge.")
      (Pause)
      (Goto MONE)])
   {:HP (- :HP :MAP)
    :MAP2 :MAP
    :Y 2})
 (Outpt :Y 1 ($ "Your HP is down by " :MAP2 "."))
 (Pause)
 (Goto MONE)
 (Lbl MONMBS)
 (ClLCD)
 (If (>= :MMP 20)
   {:MS (+ 1 (int (* 40 (rand))))}
   {:MS (+ 1 (int (* 15 (rand))))})
 (If (<= :MS 5)
   {:MLP "Heal"
    :MHP (+ :MHP 5)
    :MMP (- :MMP 5)})
 (If (and (> :MS 5) (<= :MS 15))
   {:MLP "Hurt"
    :HP (- :HP 5)
    :MMP (- :MMP 5)})
 (If (and (> :MS 15) (<= :MS 30))
   {:MLP "Hurtmore"
    :HP (- :HP 20)
    :MMP (- :MMP 20)})
 (If (> :MS 30)
   {:MLP "Healmore"
    :MHP (+ :MHP 20)
    :MMP (- :MMP 20)})
 (Outpt 1 1 ($ :MONSTER " casts ":MLP))
 (If (and (> :MS 5) (<= :MS 30))
   (Outpt 2 1 ($ "Your HP is down by " :AP2 ".")))
 (Pause)
 (Goto MONE)
 (Lbl MONE)
 (If (<= :HP 0)
   (Goto END4)
   (Goto MONB))
 (Lbl MON5)
 (ClLCD)
 (Disp ($ :MONSTER " is dead."))
 (Pause)
 {:HP (+ :HP 1 (int (/ :MAP 3)))
  :MAGIK (+ :MAGIK 1 (int (/ :MSP 3)))}
 (Lbl MON6)
 {:D (+ :D 1)}
 (If (and (= :ML 1) (<= :MHP 0))
   (Goto END1)
   (Goto CAS2))
 (Lbl STATS)
 (ClLCD)
 (Outpt 1 1 :KN1)
 (Outpt 3 1 "Hit points:")
 (Outpt 3 12 :HP)
 (Outpt 4 1 "Magic:")
 (Outpt 4 7 :MAGIK)
 (Outpt 5 1 "Speed:")
 (Outpt 5 7 :SPEED)
 (Outpt 6 1 "Attack points:")
 (Outpt 6 15 :AP)
 (Pause)
 (If (= :M 1) (Goto CAS2))
 (If (= :M 2) (Goto MONB))
 (Lbl SPELL)
 (ClLCD)
 {:SLL 0}
 (Outpt 1 13 "Magic: " )
 (Outpt 1 19 :MAGIK)
 (Lbl MA1)
 (Outpt 3 1 "Heal")
 (Outpt 3 19 5)
 (Outpt 4 1 "Healmore")
 (Outpt 4 19 20)
 (Outpt 5 1 "Hurt")
 (Outpt 5 19 5)
 (Outpt 6 1 "Hurtmore")
 (Outpt 6 19 20)
 (Outpt 7 1 "Teleport")
 (Outpt 7 19 15)
 (Menu 1 "Cast" MA1M 5 "Exit" MA5)
 (Lbl MA1M)
 {:SLL 1}
 (Menu 1 "Heal" HL 2 "Healmore" LM 3 "Hurt" HT 4 "Hurtmore" TM 5 "Teleport" TL)
 (Lbl HL)
 {:SPL "Heal"
  :SLP 1}
 (If (< :MAGIK 5)
   [(ClLCD)
    (Disp "Not enough magic.")
    (Pause)]
   {:HP (+ :HP 5)
    :MAGIK (- :MAGIK 5)})
 (Goto MA5)
 (Lbl LM)
 {:SPL "Healmore"
  :SLP 1}
 (If (< :MAGIK 20)
   [(ClLCD)
    (Disp "Not enough magic.")
    (Pause)]
   {:HP (+ :HP 20)
    :MAGIK (- :MAGIK 20)})
 (Goto MA5)
 (Lbl HT)
 {:SPL "Hurt"
  :SLP 1}
 (If (= :M 2)
   (If (< :MAGIK 5)
     [(ClLCD)
      (Disp "Not enough magic.")
      (Pause)
      (Goto MONB)]
     {:SLP 2
      :AP2 5
      :MHP (- :MHP :AP2)
      :MAGIK (- :MAGIK 5)})
   [(ClLCD)
    (Disp "Nothing to hurt.")
    (Pause)])
 (Goto MA5)
 (Lbl TM)
 {:SPL "Hurtmore"
  :SLP 1}
 (If (= :M 2)
   (If (< :MAGIK 20)
     [(ClLCD)
      (Disp "Not enough magic.")
      (Pause)
      (Goto MONB)]
     {:SLP 2
      :AP2 20
      :MHP (- :MHP :AP2)
      :MAGIK (- :MAGIK 20)})
   [(ClLCD)
    (Disp "Nothing to hurt.")
    (Pause)])
 (Goto MA5)
 (Lbl TL)
 {:SPL "Teleport"
  :SLP 1}
 (If (< :MAGIK 15)
   [(ClLCD)
    (Disp "Not enough magic.")
    (Pause)]
   {:D (+ 1 (int (* :DMAX (rand))))
    :MAGIK (- :MAGIK 15)})
 (Goto CAS2)
 (Lbl MA5)
 (If (= :M 1) (Goto CAS2))
 (If (= :M 2)
   (If (= :SLL 0)
     (Goto MONB)
     (Goto MONMAS)))
 (Lbl INVENT)
 (ClLCD)
 (Disp :KN1)
 (Disp "")
 (Disp :IT1)
 (Disp :IT2)
 (Disp :IT3)
 (Disp :IT4)
 (Menu 1 "Use" INVENT2 5 "Return" INVENT3 2 "Drop" DROP)
 (Lbl DROP)
 (Menu 1 :IT1 DROP1 2 :IT2 DROP2 3 :IT3 DROP3 4 :IT4 DROP4 5 "Exit" INVENT)
 (Lbl DROP1)
 {:IT1 :IT2}
 {:IT2 :IT3}
 {:IT3 :IT4}
 {:IT4 " "}
 (Goto INVENT)
 (Lbl DROP2)
 {:IT2 :IT3}
 {:IT3 :IT4}
 {:IT4 " "}
 (Goto INVENT)
 (Lbl DROP3)
 {:IT3 :IT4}
 {:IT4 " "}
 (Goto INVENT)
 (Lbl DROP4)
 {:IT4 " "}
 (Goto INVENT)
 (Lbl INVENT2)
 (Menu 1 :IT1 IT1B 2 :IT2 IT2B 3 :IT3 IT3B 4 :IT4 IT4B 5 "Exit" INVENT)
 (Lbl IT1B)
 (If (= :IT1 "Magic vial") {:MAGIK (+ :MAGIK 5)})
 (If (= :IT1 "Magic potion") {:MAGIK (+ :MAGIK 20)})
 (If (= :IT1 "Healing herb") {:HP (+ :HP 5)})
 (If (= :IT1 "Healing potion") {:HP (+ :HP 20)})
 {:IT1 :IT2}
 {:IT2 :IT3}
 {:IT3 :IT4}
 {:IT4 " "}
 (Goto IT5)
 (Lbl IT2B)
 (If (= :IT2 "Magic vial") {:MAGIK (+ :MAGIK 5)})
 (If (= :IT2 "Magic potion") {:MAGIK (+ :MAGIK 20)})
 (If (= :IT2 "Healing herb") {:HP (+ :HP 5)})
 (If (= :IT2 "Healing potion") {:HP (+ :HP 20)})
 {:IT2 :IT3}
 {:IT3 :IT4}
 {:IT4 " "}
 (Goto IT5)
 (Lbl IT3B)
 (If (= :IT3 "Magic vial") {:MAGIK (+ :MAGIK 5)})
 (If (= :IT3 "Magic potion") {:MAGIK (+ :MAGIK 20)})
 (If (= :IT3 "Healing herb") {:HP (+ :HP 5)})
 (If (= :IT3 "Healing potion") {:HP (+ :HP 20)})
 {:IT3 :IT4}
 {:IT4 " "}
 (Goto IT5)
 (Lbl IT4B)
 (If (= :IT4 "Magic vial") {:MAGIK (+ :MAGIK 5)})
 (If (= :IT4 "Magic potion") {:MAGIK (+ :MAGIK 20)})
 (If (= :IT4 "Healing herb") {:HP (+ :HP 5)})
 (If (= :IT4 "Healing potion") {:HP (+ :HP 20)})
 {:IT4 " "}
 (Goto IT5)
 (Lbl IT5)
 (Goto INVENT)
 (Lbl INVENT3)
 (If (and (= :I 1) (= :M 1)) (Goto CAS2))
 (If (= :I 2) (Goto INVENT4))
 (If (= :M 2) (Goto MONB))
 (Lbl END1)
 (ClLCD)
 (If (= :L 3) (Goto END3))
 (Outpt 2 1 ($ "Wow! You defeated Level " :L "!"))
 {:L (+ 1 :L)}
 (Outpt 5 1 ($ "Now, onto Level " :L))
 (Pause)
 (Goto CAS1)
 (Lbl END2)
 (ClLCD)
 (Disp "SAVEGAME?")
 (Menu 1 "Yes" SG1A 2 "No" END5)
 (Lbl SG1A)
 (ClLCD)
 (Outpt 1 7 "SAVEGAME")
 (If (= :SV1 " ")
   {:SV1A "Game1"}
   {:SV1A :SV1})
 (If (= :SV2 " ")
   {:SV2A "Game2"}
   {:SV2A :SV2})
 (If (= :SV3 " ")
   {:SV3A "Game3"}
   {:SV3A :SV3})
 (Outpt 3 1 :SV1A)
 (Outpt 4 1 :SV2A)
 (Outpt 5 1 :SV3A)
 (Menu 1 :SV1A SG1 2 :SV2A SG2 3 :SV3A SG3)
 (Lbl SG1)
 (ClLCD)
 (InpST "Enter Filename" :SV1)
 {:SD1 :D
  :SL1 :L
  :SH1 :HP
  :SS1 :SPEED
  :SM1 :MAGIK
  :SA1 :AP
  :SK1 :KN1}
 (Goto END5)
 (Lbl SG2)
 (ClLCD)
 (InpST "Enter Filename" :SV2)
 {:SD2 :D
  :SL2 :L
  :SH2 :HP
  :SS2 :SPEED
  :SM2 :MAGIK
  :SA2 :AP
  :SK2 :KN1}
 (Goto END5)
 (Lbl SG3)
 (ClLCD)
 (InpST "Enter Filename" :SV3)
 {:SD3 :D
  :SL3 :L
  :SH3 :HP
  :SS3 :SPEED
  :SM3 :MAGIK
  :SA3 :AP
  :SK3 :KN1}
 (Goto END5)
 (Lbl END3)
 (ClLCD)
 (Disp " ")
 (Disp " ")
 {:YDON "...And the streets will flow with the blood of the non-believers!"}
 (Outpt 1 1 :YDON)
 (Goto END5)
 (Lbl END4)
 (ClLCD)
 (Disp "You are dead.")
 (Lbl END5)
 (Pause)
 (ClDrw)
 (ZStd)
 (AxesOn)
 (ClLCD)
 (Outpt 4 7 "GAME OVER")]
